@use '@/styles/helpers' as *;

.weatherInfo {
  grid-column: 4 / -1;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: inline-flex;
  align-items: center;
  column-gap: to-rem(8);
  font-size: to-rem(16);
  color: var(--color-text-dim);
}

// .icon {
// }

// .title {
// }

.value {
  font-weight: 400;
}

.windValue {
  display: inline-flex;
  align-items: center;
  column-gap: to-rem(8);
}
