@use '@/styles/helpers' as *;

.dailyWeather {
  grid-column: 1 / -1;
}

.header {
  font-size: to-rem(24);
  font-weight: 700;
  margin-bottom: to-rem(24);
}

.list {
  display: flex;
  justify-content: space-between;
  column-gap: to-rem(4);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: to-rem(8);
}

.weekDay {
  flex-grow: 1;
}

.image {
  @include square(32);

  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.highTemp {
  font-weight: 500;
  color: var(--color-text);
}

.space {
  height: to-rem(100);
}

.lowTemp {
  font-weight: 500;
  color: var(--color-text-dim);
}

.wind {
  font-size: to-rem(14);
}
