@use '@/styles/helpers' as *;

.app {
  --container-width: #{to-rem(800)};
  --padding-x: #{to-rem(24)};

  max-width: calc(var(--container-width) + 2 * var(--padding-x));
  padding-inline: var(--padding-x);
  padding-bottom: to-rem(16);
  margin-inline: auto;
}
