@use '@/styles/helpers' as *;

.searchBar {
  position: relative;
  display: flex;
  background-color: var(--color-widget-bg);
  border: var(--border);
  border-radius: var(--border-radius-round);
  box-shadow: var(--shadow-widget);
}

.input {
  flex-grow: 1;
  height: to-rem(44);
  padding-inline: to-rem(24);
  color: var(--color-text);
  background-color: transparent;

  &:focus-visible {
    outline: none;
  }

  &:focus + label {
    opacity: 0;
    visibility: hidden;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  align-items: center;
  column-gap: to-rem(8);
  font-size: to-rem(16);
  cursor: text;
  transition-duration: var(--transition-duration);
}
