@use '@/styles/helpers' as *;

.header {
  display: grid;
  grid-template-columns:
    1fr
    minmax(to-rem(100), to-rem(440)) 1fr;
  column-gap: to-rem(16);
  padding-block: to-rem(16);
  align-items: center;

  @include mobile {
    column-gap: to-rem(8);
  }
}

.column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
