@use '@/styles/helpers' as *;

.header {
  display: grid;
  grid-template-columns:
    1fr
    to-rem(440) 1fr;
  column-gap: to-rem(16);
  padding-block: to-rem(16);
  align-items: center;
}

.column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
