@use '@/styles/helpers' as *;

.settings {
  position: absolute;
  top: to-rem(56);
  right: to-rem(-8);
  z-index: 80;
  display: flex;
  flex-direction: column;
  row-gap: to-rem(8);
  box-shadow: var(--shadow-modal) !important;

  @include mobile {
    right: 0;
  }
}

.section {
  &:not(:last-child) {
    margin-bottom: to-rem(24);
  }
}

.heading {
  display: inline-flex;
  align-items: center;
  column-gap: to-rem(8);
  font-size: to-rem(20);
  margin-bottom: to-rem(16);
}

// .icon {
// }

.title {
  font-weight: 500;
}

.sectionInner {
  display: flex;
  flex-direction: column;
  row-gap: to-rem(8);
}

// .label {
// }

.toggleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: to-rem(24);
}

.toggle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: to-rem(4);
  padding: to-rem(3);
  border: var(--border);
  border-radius: var(--border-radius-round);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  background-color: transparent;
  min-height: to-rem(34);
  min-width: to-rem(100);
  border-radius: var(--border-radius-round);

  @include hover {
    background-color: var(--color-bg);
  }

  &:global(.active) {
    color: var(--color-widget-bg);
    background-color: var(--color-text);
  }
}
