@use '@/styles/helpers' as *;

:root {
  color-scheme: light;

  --color-text: hsl(0deg 0% 7%);
  --color-text-dim: hsl(0deg 0% 52%);
  --color-bg: hsl(0deg 0% 97%);
  --color-widget-bg: hsl(0deg 0% 100%);
  --color-border: hsl(0deg 0% 94%);
  --color-hover: hsl(0deg 0% 91%);
  --color-alert: hsl(0deg 100% 65%);
  --border: #{to-rem(1) solid var(--color-border)};
  --border-radius: #{to-rem(16)};
  --border-radius-round: #{to-rem(999)};
  --shadow-widget: 0 #{to-rem(1)} 0 var(--color-border);
  --shadow-modal: 0 #{to-rem(1)} 0 var(--color-border), 0 #{to-rem(4)} 8px var(--color-border);
  --font-family:
    'Inter', system-ui, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  --transition-duration: 0.1s;

  &.dark {
    color-scheme: dark;
  }
}
