@use '@/styles/helpers' as *;

:root {
  color-scheme: light;

  --color-text: hsl(240deg 10% 4%); // 950
  --color-text-dim: hsl(240deg 4% 46%); // 500
  --color-bg: hsl(240deg 5% 96%); // 100
  --color-widget-bg: hsl(0deg 0% 98%); // 50
  --border: #{to-rem(1) solid hsl(240deg 6% 90%)}; // 200
  --border-radius-tiny: #{to-rem(4)};
  --border-radius-small: #{to-rem(8)};
  --border-radius: #{to-rem(16)};
  --font-family:
    'Inter', system-ui, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  --transition-duration: 0.1s;

  &.dark {
    color-scheme: dark;
  }
}
